/* Site-wide */
@media screen and (max-width:768px); { }
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  /* Header */
  nav{
      display: none;
      visibility: hidden;
  }
  /* Main */
  main.cards{display: flex;
}

  /* Footer */
  
  /* Media Queries */