main{display: flex;}

.categories{
    flex-grow: 0%;
    flex-shrink: 0%;
    flex-basis: 256px;
    display: flex;
    flex-direction: column;
}

.newanchor:link{
    color:aliceblue;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 8%;
    background-color: #255;
    font-size: medium;
   

}
    
.newanchor:hover{
    box-shadow: 0 2px 5px -2px black;
}