
a.top{
    font-size: medium;
    background-color: cadetblue;
}

.main-nav{
    background-color: cadetblue;
}

.horizontal.nav-list{
    color: white;
}


.co{
    font-size: medium;

}





.fact-line{
    background-color: teal;
}


.fact-name{
    background-color: teal;
    color: black;
}

.item-name{
    background-color: teal;
    color: black;
    
}

.Productname{
    background-color: teal;
}

.numbers{
    background-color: teal;
    color: black;
}

i.add-item.material-icons{
    background-color: teal;
}






.customercare{
    background-color: #255;
}

a.foot1{background-color: #255;}

.foottitle{background-color: #255;}

.sales{
background-color: #255;
}

.aboutus{
    background-color: #255;
}

a.last{
    background-color: #255;
}

